.Body-log {
  /* margin: .5em; */
  background: #e8e8e8;
  border-right: 3px solid #666666;
}
.Log {
  position: relative;
  overflow: auto;
  margin: .5em 0;
  padding: .5em;
  color: #00171f;
  width: 90%;
}
.Log-addItem {
  display: flex;
}
.addItem-input {
  flex: 2;
  padding: .3em;
  margin-right: .2em;
}
.addItem-input input {
  border: none;
  width: 100%;
  background: #fff;
  border-radius: 2px;
  padding: .5em .1em;
}
.addItem-btn {
  color:#666;
  letter-spacing: 5px;
  border-radius: 37px;
  padding: .5em;
  background: linear-gradient(#e8e8e8, #cacaca);
  border: 3px solid #666;
  width:100%;
  flex: 1;
  cursor: pointer;
}
.addItem-btn:hover {
  background: linear-gradient(#c0c0c0, #a8a8a8);
}
@media(max-width: 780px) {
  .Body-log {
    display: none;
  }
}