@import url('https://fonts.googleapis.com/css?family=Lato|Lobster&display=swap');

.Header {
  color: #fff;
  background: black;
}
.Header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 2vw;
}
.Header-sections {
  margin-left: 16vw;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}
.Header-sections ul {
  display: flex;
  height: 100%;
}
.Header-title {
  font-family: 'Lobster', cursive, Arial, Helvetica, sans-serif;
  font-size: 3rem;
}