.Footer {
  background: #00171f;
  color: #fff;
  font-family: 'Lato', sans-serif;
  padding: 5px;
  font-size: 1.2rem;
  padding: 2.5vh;
}
.Footer-container {
  display: flex;
  justify-content: space-between;
}